@media (max-width: 1079.98px) {
	.use__slider-bottom {
		display: flex;
	}
	.dot__progress {
		display: none;
	}

	.use__slider-dots {
		flex-direction: column;
		row-gap: 15px;
		max-width: 150px;
	}

	.use__slider-dot {
		&::before {
			width: 50px;
			height: 2px;
			top: 50%;
			transform: translateY(-50%);
			right: -50px;
		}
	}
	& .use__dots_info {
		flex-direction: column;
		margin-top: 0;
		padding: 15px 0;

		&-text {
			width: unset;
		}
	}
}

@media (max-width: 997.98px) {
	.advantages {
		& .container {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

@media (max-width: 787.98px) {
	.about__cards {
		grid-template-columns: 1fr;
	}

	.about__card:hover {
		transform: translateY(10px);
	}
}

@media (max-width: 767.98px) {
	.header {
		&__nav {
			display: none;
		}

		&__btn {
			font-size: 14px;
			width: 150px;
		}
	}

	.hero {
		&__title {
			font-size: 30px;
		}

		&__desc {
			font-size: 16px;
		}

		&__btn {
			margin-top: 40px;
		}
	}

}

.section-card:parent {
	background: black;
}

@media (max-width: 599.98px) {
	.use__slider {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.map {
		& iframe {
			height: 50vh;
		}
	}
}